<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Biblioteca</title>
  <link rel="stylesheet" href="styles.css" />
</head>
<body>
  <main>
    <section class="main-dashboard">
      <div class="main-content">

        <header class="header">
          <form id="formulario" >
            <label >ID Estado</label>
            <input type="text" id="id_estado"/>

            <label >ISBN</label>
            <input type="text" id="isbn"  />

            <label>ID de Usuario</label>
            <input type="number" id="id_usuario"  />

            <label>Fecha Préstamo</label>
            <input type="date" id="fecha_prestamo" />

            <label >Fecha de Devolución</label>
            <input type="date" id="fecha_devolucion" />

            <button type="submit" class="add-event-btn">Agregar préstamo</button>
          </form>
        </header>

        <div class="events-table">
          <div class="table-header">
            <div>Usuario</div>
            <div>Libro</div>
            <div>Fecha Devolución</div>
          </div>
          <div class="event-body"></div>
        </div>

      </div>
    </section>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script type="module" src="get.js"></script>
</body>
</html>
